* {
    margin: 0;
    padding: 0;
    text-decoration: none;

    box-sizing: border-box;
    list-style: none;
}


nav {
    /* padding: 5px 100px; */
    background: rgb(36, 30, 30);
    color: wheat;
}

nav .ul .logo {
    font-size: 2rem;
    font-weight: bolder;
}

nav ul {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */

main {}

main .mainScreen {
    height: 90vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .mainScreen .mainDiv {
    min-width: 400px;
    text-align: center;
    max-width: 600px;
    padding: 15px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background: wheat;
    color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
main .text{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 10px ;
}
main .mainDiv .enterMessage{
    height: 40px;

    margin: 10px 0px;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
main .mainScreen .mainDiv .btn{
    width: 150px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
}

main .lastMessage{
    color: rgb(0, 119, 255);
}